{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>TO DO</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<link rel="stylesheet" href="{% static "css/style.css" %}">

</head>
<body>
	<div class="container">

		<div id="task-container">
			<div id="form-wrapper">
				<form id="form">
					{% csrf_token %}
					<div class="flex-wrapper">
						<div style="flex: 6">
							<input id="title" class="form-control" type="text" name="title" placeholder="Add task">
						</div>
						<div style="flex: 1">
							<input id="submit" class="btn" type="submit" >
						</div>
					</div>
				</form>
			</div>

			<div id="list-wrapper">
			
			</div>	
		</div>

	</div>

<script src="{% static 'js/app.js' %}"></script>
</body>
</html>